.carousel-site {
  background-color: rgb(254, 234, 233);
}

.button-sp {
  background-color: rgb(252, 63, 110);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s linear;
}

.button-sp:hover {
  transform: scale(1.055);
}
body a:visited {
  color: white;
}
